.btn-circle {
    padding: 6px 0px !important;
    border-radius: 25px !important;
    text-align: center !important;
    font-size: 12px !important;
    line-height: 1.42857 !important;
    width:fit-content !important
} 

.top-buffer {
    margin-top: 5rem !important;
}

.subtitle {
    font-size: medium;
}

.btn-work {
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
    padding-left: 3rem !important; 
    padding-right: 3rem !important;
}

.image {
    opacity: 0.5;
}

.typing_img {
    opacity: 0.5;
    width: 64.6%;
    height: auto;
}

.blue_image {
    background-color: #0f5cfc !important;
    width: fit-content;
}

.blue_image2 {
    background-color: #0f5cfc !important;
    width: fit-content;
}