.btn-round {
    border-radius: 25px !important;
    text-align: center !important;
    font-size: 12px !important;
    line-height: 1.42857 !important;
    width:fit-content !important
} 

.btn-circle {
    width: 20% !important;
    height: fit-content;
}


.subtitle {
    font-size: small;
}

.btn-work {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 2.5rem !important; 
    padding-right: 2.5rem !important;
    font-size: x-small !important;
}

.image {
    opacity: 0.5;
}

.typing_img {
    opacity: 0.5;
    width: fit-content;
    height: 25%;
}

.blue_image {
    background-color: #0f5cfc !important;
    width: fit-content;
    margin-top: 8rem;
}

.background {
    background-color: #0f5cfc !important;
    background: url('../img/typing.jpeg');
    width: 60% !important; 
    max-height: 100%;
    opacity: 50%;
}

img.filtered {
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    }

.title {
    font-size: xx-large !important;
}

.background-grey {
    background-color: #eff2f1;
    text-align: center;
}

.subheading {
    font-size: medium;
}

.expertises-button {
    font-size: 1px !important;
}